body{
    background-color:#000000;
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    font-family: 'Poppins',arial, sans-serif;/*Não sei se fez alguma diferença, mas vou deixar assim mesmo.*/
} 
p {
    font-family:'Roboto', arial, sans-serif;/*Acho qeu não fez nemhuma diferença. depois eu vejo isso com mais calma.*/
} 

video{
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
} 
video {
    max-width: 545%;
    height: 300;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


 
header{
    width: 100%;
    padding: 20px;
} 
h1{
    margin-bottom: 20px;/*Espaço abaixo do titulo*/
}
p{
    margin-top: 10px;/*Espaço acima do parágrafo*/
} 
body{
    text-align: center;
}
.imagem-destaque{
    display:block;
    margin:20px auto;/*Centraliza horizontalmente*/
    width: 200px;/*Ajusta o tamanho da imagem*/
    border:5px solid black;/*Adiciona uma borda */
    border-radius:15px;/* Deixa os cantos arredondados */
    transition:transform 0.3s ease;/*Animação suave no hover*/
}
.imagem-destaque:hover{
    transform: scale(1.05); /* Aumenta levemente a imagem ao passar o mouse*/
}
.video-destaque{
    display:block;
    margin:20px auto; /*Centraliza horizontalmente*/
    width: 200px;/*Ajusta o tamanho do video*/
    border-radius:15px;/*Deixa os cantos arredondados*/
    transition:transform 0.3s ease;/*Animação suave no hover*/
}
.video-destaque:hover{
    transform: scale(1.05); /* Aumenta levemente o video ao passar o mouse*/
}

    
    

    

    
 
 
